<mat-card class="mt-3 p-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <mat-card-title>
                        Bienvenido administrador
                    </mat-card-title>
                <mat-card-subtitle>
                    Panel del administrador
                </mat-card-subtitle>
                <mat-card-content class="ms-3">
                    <h1></h1>
                    <p></p>
                    <mat-divider></mat-divider>
                    <h1 class="pt-2">Sus funciones</h1>
                    <ul>
                        <li>Gestionar categorias</li>
                        <li>Gestionar examenes</li>
                        <li>Asignar examenes a distintas categorias</li>
                        <li>Gestionar las preguntas</li>
                        <li>Asignar preguntas a cada examen</li>
                    </ul>
                    <mat-divider></mat-divider>
                    <br>
                </mat-card-content>
            </div>
        </div>
    </div>
</mat-card>