<mat-card class="p-3 aparecer">
    <h1>Actualizar examen</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form class="p-2" (ngSubmit)="actualizarCuestionario()" *ngIf="examen">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input type="text"
                    [(ngModel)]="examen.titulo"
                    name = "titulo"
                    required
                    placeholder="Digite el titulo"
                    matInput>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <textarea type="text" name="descripcion" placeholder="Digite la descripcion" matInput rows="8" [(ngModel)]="examen.descripcion"></textarea>
                </mat-form-field>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Puntos maximos</mat-label>
                            <input type="text"
                            name = "puntosMaximos"
                            [(ngModel)]="examen.puntosMaximos"
                            placeholder="Digite la cantidad de puntos"
                            matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Numero de preguntas</mat-label>
                            <input type="text"
                            name = "numeroDePreguntas"
                            [(ngModel)]="examen.numeroDePreguntas"
                            placeholder="Digite el numero de preguntas"
                            matInput>
                        </mat-form-field>
                    </div>
                </div>
                <mat-slide-toggle color="primary" class="mt-2" name= "activo" [(ngModel)]="examen.activo">
                    Estado de publicacion
                </mat-slide-toggle>
                <mat-form-field appearance="fill" class="mt-4 w-100">
                    <mat-label>Categorias</mat-label>
                    <mat-select name="categoria" [(ngModel)]="examen.categoria.categoriaId">
                        <mat-option *ngFor="let c of categorias" [value]="c.categoriaId">
                            {{c.titulo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="container text-center">
                    <button mat-raised-button color="primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</mat-card>
